# Repository Owners

# Default owner for all files
* @jake-molnia

# Application-specific owners
/controller/ @jake-molnia
/frontend/ @jake-molnia

# Configuration
docker-compose.yml @jake-molnia

# Documentation
*.md @jake-molnia
